// Theme related stuff: colours and stuff
// https://www.canva.com/learn/100-color-combinations/
// // Primary: Watery Blue-Greens
// $colorPrimaryDark: #004445; // Watery Blue-greens: cadet blue
// $colorPrimary: #2C7873; // Watery blue-greens: rain
// // Secondary: FResh greens
// $colorSecondaryDark: #265C00;
// $colorSecondary: #68A225;
$colorPrimary: #ead131;
$colorSecondary: #3f559b;
$colorFontLight: #717171;
$bodyBg: #40494f;
$bodyFg:  #eee;
$headerBg: $colorPrimary;
$headerFg: black;

// Sizing
$contentWidth: 1400px;
$subMenuWidth: 250px;
$headerHeight: 50px;